.skills {
  width: 100%;
  background: $secondaryBlackColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h3 {
    font-size: 30px;
    color: $secondaryColor;
    text-align: center;
    padding: 5px 0;
  }
  article {
    padding: 10px 30%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    div {
      display: flex;
      gap: 30px;
      .secIcon {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        color: $secondaryColor;
        p {
          font-size: 12px;
        }
        .iconSkills {
          font-size: 40px;
          color: $secondaryColor;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .skills {
    h3 {
      padding: 10px 0;
      font-size: 40px;
    }
    article {
      div {
        gap: 50px;
        .iconSkills {
          font-size: 60px;
          color: $secondaryColor;
        }
      }
    }
  }
}
